body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: brown;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add padding to the top so content does not go behind the navbar */
.container {
  margin-top: 80px; /* Adjust based on navbar height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
